body > nav{
    width: @sidebarWidth;
    transition: width 0.25s;

    @media(max-width: 760px){
        width: 0px;
    }
}

body.sidebar > nav{
    width: @sidebarWidth;

    @media(max-width: 760px){
        box-shadow: 10px 0px 20px 0px rgba(0,0,0,0.5);
    }
}

body > nav{
    position: fixed;
    top: 0px;
    left: 0px;

    height: 100%;
    padding-top: @headerHeight;
    background-color: @medium;
    z-index: 1;

    div.content{
        height: 100%;

        > div{
            border-bottom: 1px solid rgb(32,32,32);

            &.expanded > a > span.arrow{
                transform: translateY(-50%) rotate(-90deg);
            }

            &.sub > a{
                padding-left: 25px;
            }

            > a{
                display: block;
                padding-left: 5px;
                height: 50px;
                line-height: 50px;
                position: relative;
                cursor: pointer;

                transition: background-color 0.3s;

                &:hover{
                    background-color: #3e4852;
                }

                > span.arrow{
                    position: absolute;
                    right: 6px;
                    top: 50%;
                    transform: translateY(-50%) rotate(0deg);
                    transition: transform 0.2s;

                    display: inline-block;
                    width: 0px;
                    height: 0px;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-right: 5px solid white;
                }
            }

            @import "filter.less";

            > ul{
                transition: height 0.4s;
                display: none;

                overflow: hidden;
                background-color: #3e3d3b;
                > li{
                    transition: border-width 0.25s;
                    border-right: 0px solid #c57f00;
                    &.active{
                        border-right: 5px solid #c57f00;
                    }
                    > a{
                        display: block;
                        font-size: 12px;
                        padding-left: 10px;
                        padding-top: 9px;
                        padding-bottom: 9px;
                        border-top: 1px solid rgb(32,32,32);
                        cursor: pointer;
                    
                        transition: background-color 0.3s;

                        &:hover{
                            background-color: #545351;
                        }
                    }
                }
            }
        }
    }
}
